.bg{
	/*background-image: url(https://enlace.univalle.edu/san/Imagenes/MasterPage/LogoSan106x70.png);*/
	background-color: #7F2D49;
	/*background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	box-shadow: inset  rgba(1,1,0,.2);*/
}
.central{
	margin:auto;
	margin-top:2%;
	margin-bottom:5%;
	margin-right:5%;
	width:90%;
	height:600px;
	border-radius:20px;
	box-shadow:10px 10px 5px 000;
	background: url(../media/grey-white-background.jpg) fixed;
}
.central-mod{
	margin:auto;
	margin-top:2%;
	margin-bottom:5%;
	margin-right:5%;
	width:90%;
	height:700px;
	border-radius:20px;
	box-shadow:10px 10px 5px 000;
	background: url(../media/grey-white-background.jpg) fixed;
}
.logo{
	display: inline-block;
	width: 50px;
	height: 50px;
}
.logopdf{
	display: inline-block;
	width: 100px;
	height: 100px;
}

/*Estilos de Escala*/
.custom1, .custom1 a{
	color: rgb(0, 0, 0) !important;
  	background-color: #E8DDCB !important;
  	/* border-color: #050300 !important; */
}
.custom1:active,
.custom1.active,
.custom1:focus,
.custom1.focus,
.custom1:hover,
.custom1 a:hover {
  background-color: rgba(232, 221, 203, 0.692) !important;
  /* border-color: #000000 !important; */
}

.custom2, .custom2 a{
	color: rgb(0, 0, 0) !important;
  	background-color: #CDB380 !important;
  	/* border-color: #050300 !important; */
}
.custom2:active,
.custom2.active,
.custom2:focus,
.custom2.focus,
.custom2:hover,
.custom2 a:hover {
  background-color: rgba(205, 179, 128, 0.609) !important;
  /* border-color: #000000 !important; */
}

.custom3, .custom3 a{
	color: #fff !important;
  	background-color: #1f7e7c !important;
  	/* border-color: #050300 !important; */
}
.custom3:active,
.custom3.active,
.custom3:focus,
.custom3.focus,
.custom3:hover,
.custom3 a:hover {
  background-color: #1f7e7ca1 !important;
  /* border-color: #000000 !important; */
}

.custom4, .custom4 a{
	color: #fff !important;
  	background-color: #033649 !important;
  	/* border-color: #050400 !important; */
}
.custom4:active,
.custom4.active,
.custom4:focus,
.custom4.focus,
.custom4:hover,
.custom4 a:hover {
  background-color: #03364962 !important;
  /* border-color: #000000 !important; */
}

.custom5, .custom5 a{
	color: #fff !important;
  	background-color: #031634 !important;
  	/* border-color: #050500 !important; */
}
.custom5:active,
.custom5.active,
.custom5:focus,
.custom5.focus,
.custom5:hover,
.custom5 a:hover {
  background-color: #0316349f !important;
  /* border-color: #000000 !important; */
}

/*Segundo set*/

.custom6, .custom6 a{
	color: #fff !important;
  	background-color: #2C736B !important;
  	/* border-color: #060600 !important; */
}
.custom6:active,
.custom6.active,
.custom6:focus,
.custom6.focus,
.custom6:hover,
.custom6 a:hover {
  background-color: rgba(44, 115, 107, 0.61) !important;
  /* border-color: #000000 !important; */
}

.custom7, .custom7 a{
	color: #fff !important;
  	background-color: #302942 !important;
  	/* border-color: #070700 !important; */
}
.custom7:active,
.custom7.active,
.custom7:focus,
.custom7.focus,
.custom7:hover,
.custom7 a:hover {
  background-color:  #302942ad !important;
  /* border-color: #000000 !important; */
}

.custom8, .custom8 a{
	color: #0c0505 !important;
  	background-color: #DDE0E2 !important;
  	/* border-color: #080800 !important; */
}
.custom8:active,
.custom8.active,
.custom8:focus,
.custom8.focus,
.custom8:hover,
.custom8 a:hover {
  background-color:  rgba(221, 224, 226, 0.61) !important;
  /* border-color: #000000 !important; #7F2D49*/
}

.custom9, .custom9 a{
	color: #ffffff !important;
  	background-color: #141F33 !important;
  	/* border-color: #090900 !important; */
}
.custom9:active,
.custom9.active,
.custom9:focus,
.custom9.focus,
.custom9:hover,
.custom9 a:hover {
  background-color:  rgba(20, 31, 51, 0.644) !important;
  /* border-color: #000000 !important; #7F2D49*/
}

.custom10, .custom10 a{
	color: #0c0505 !important;
  	background-color: #78aaa9 !important;
  	/* border-color: #01001000 !important; */
}
.custom10:active,
.custom10.active,
.custom10:focus,
.custom10.focus,
.custom10:hover,
.custom10 a:hover {
  background-color:  #78aaa96e !important;
  /* border-color: #000000 !important; #7F2D49*/
}

.custom11, .custom11 a{
	color: #0c0505 !important;
  	background-color: #aecaca !important;
  	/* border-color: #01101100 !important; */
}
.custom11:active,
.custom11.active,
.custom11:focus,
.custom11.focus,
.custom11:hover,
.custom11 a:hover {
  background-color:  #aecaca8c !important;
  /* border-color: #000000 !important; #7F2D49*/
}

/*FUENTES*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Merriweather:700');
@import url('https://fonts.googleapis.com/css?family=Monoton');

.font1{
	font-family: 'Merriweather', serif;
	font-size: 30px;
}
.font2{
	font-family: 'Cinzel', serif;
	font-size: 30px;
}
.font3{
	font-family: 'Monoton', cursive;
	font-size: 25px;
}
/*Extras*/

.btn-xlarge {
	padding: 18px 28px;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
					border-radius: 8px;
	
	}
	